@Styles.Render("~/Content/css")
<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Следуемые планы", "Index", "Plans")</li>
        <li>@Html.ActionLink("Мои планы", "MyPlans", "Plans")</li>
        <li>@Html.ActionLink("Упражнения", "Index", "Exercises")</li>
    </ul>
</nav>
